/* nejsme vcerejsi, pouzivame moderni box model */

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
  text-align: center;
  font-size: 14px;
  color: silver;
}

.paticka a {
  color: silver;
}

/* ------------------------------- */

/* ----- DOLE BUDE TVOJE CSS ----- */

/* ------------------------------- */
h1{
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.recepty {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nadpis{
  
}
.kategorie{
 float: left;
}
.komentare{
 float: right;
}

.male {
  display: flex;
  flex-direction: column;
}
.male-wrapper{
  min-height: 90px;
  background-color: tomato;
}
.male-wrapper h1{
  color: white;
  margin: 0;
}
.velke{
  min-height: 200px;
  background-color: teal;
}
.velke.recepty h1{
  color: red;
}